{% extends 'chica_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h1>Fechar caixa</h1><hr />
    <form method="POST">
    {%csrf_token%}
        <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="inputCel">Valor</label>
                    <input type="number" class="form-control" step="0.1" name="valor" title="Digire o valor a ser retirado no fechamento">
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-secondary float-right" title="Registrar o fechamento do caixa">Fechar</button>
    </form>
{% endblock %}