{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h1>Conferir caixa</h1><hr />
    <form method="POST">
    {%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-9"></div>
        <div class="form-group col-md-3">
            <label>Data</label>
            <input type="date" class="form-control" value="{{hoje}}" name="data" title="Selecione a data"/>
            <button type="submit" class="btn btn-secondary float-right" title="Buscar por data">Buscar</button>
        </div>
        {% if caixas %}
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Data</th>
                        <th scope="col">Op.</th>
                        <th scope="col">Valor Op.</th>
                        <th scope="col">Desc. Op.</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for caixa_geral in caixas %}
                    <tr>
                        <td>{{caixa_geral.id_operacao}}</td>
                        <td>{{caixa_geral.data|date:"d/m/Y"}}</td>
                        <td>{{caixa_geral.get_operacao_display}}</td>
                        <td>R$ {{caixa_geral.valor_operacao}}</td>
                        <td>{{caixa_geral.descricao}}</td>
                        <td>R$ {{caixa_geral.total}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
    <div class="form-row">
        <div class="col align-self-end">
            <h3><br><hr/><b>Total Cartao Credito: R$ {{t_credito}}</b></h3>
            <h3><b>Total Cartao Debito: R$ {{t_debito}}</b></h3>
            <h3><b>Total Dinheiro: R$ {{t_dinheiro}}</b></h3>
            <h3><b>Total em Caixa: R$ {{t_caixa}}</b></h3>
        </div>
    </div>
    </form>
{% endblock %}
