{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h1>Relatorio Contas a Pagar</h1><hr />
    <form method="POST">
    {%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-6"></div>
        <div class="form-group col-md-3">
            <label>Data Inicio</label>
            <input type="date" class="form-control" value="{{data_inicio}}" name="data_inicio" title="Selecione a data"/>
        </div>
        <div class="form-group col-md-3">
            <label>Data Fim</label>
            <input type="date" class="form-control" value="{{data_fim}}" name="data_fim" title="Selecione a data"/>
            <button type="submit" class="btn btn-secondary float-right" title="Buscar por data">Buscar</button>
        </div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col-md-2">#</th>
                    <th scope="col-md-4">Tipo</th>
                    <th scope="col-md-2">Quantidade</th>
                    <th scope="col-md-2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
                    <th scope="col-md-2">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">1</td>
                    <td>Contas</td>
                    <td>{{n_contas}}</td>
                    <td>-</td>
                    <td>R$ {{t_contas}}</td>
                </tr>
            </tbody>
        </table>
        <br/>
        <h5>Descricao das despesas</h5>
        <table class="table table-responsive-md">
            <thead>
                <tr>
                    <th scope="col-md-2">#</th>
                    <th scope="col-md-4">Data</th>
                    <th scope="col-md-2">Despesa</th>
                    <th scope="col-md-2">Valor</th>
                    <th scope="col-md-2">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% if contas_all %}
                    {% for conta in contas_all %}
                        {% if conta.estado == '1' %}
                            <tr>
                                <td scope="row">{{conta.id}}</td>
                                <td>{{conta.data_venc|date:"d/m/Y"}}</td>
                                <td>{{conta.nome}}</td>
                                <td>R$ {{conta.valor}}</td>
                                <td>{{conta.get_estado_display}}</td>
                            </tr>
                        {% endif %}
                        {% if conta.estado == '2' %}
                            <tr>
                                <td scope="row">{{conta.id}}</td>
                                <td>{{conta.data_pagamento|date:"d/m/Y"}}</td>
                                <td>{{conta.nome}}</td>
                                <td>R$ {{conta.valor}}</td>
                                <td>{{conta.get_estado_display}}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <tr>
                    <td scope="row">-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td scope="row">-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                <tr>
                    <td scope="row">-</td>
                    <td>TOTAL PAGO</td>
                    <td>-</td>
                    <td>-</td>
                    <td>R$ {{t_paga}}</td>
                </tr>
                <tr>
                    <td scope="row">-</td>
                    <td>TOTAL A PAGAR</td>
                    <td>-</td>
                    <td>-</td>
                    <td>R$ {{t_aberta}}</td>
                </tr>
                <tr>
                    <td scope="row"><b>-</b></td>
                    <td><b>TOTAL</b></td>
                    <td><b>-</b></td>
                    <td><b>-</b></td>
                    <td><b>R$ {{t_contas}}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="form-row">
        <div class="col align-self-end">
            <h3><br><hr/>Total em despesas: R$ {{t_contas}}</h3>
        </div>
    </div>
    </form>
{% endblock %}