{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h1>Novo Ordem</h1><hr />
    <form method="POST">
    {%csrf_token%}
    {% if cliente_obj == None %}
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="inputName">Cliente<strong>*</strong></label>
                <select autofocus name="cliente_id" class="form-control" required>
                    <option disabled selected> -- Cliente -- </option>
                    {% for cliente in clientes %}
                    <option value={{cliente.id}}>{{cliente.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-10">
                <button type="submit" formmethod="GET" formaction="/lavajato_agenda/" class="btn btn-secondary float-right" title="Buscar">Buscar</button>
            </div>
        </div>
    {% endif %}
    {% if cliente_obj != None %}
    <div class="form-row">
        <div class="form-group col-md-10">
            <label for="inputName">Cliente<strong>*</strong></label>
            <select name="cliente_id" class="form-control">
                <option value="{{cliente_obj.id}}" selected >{{cliente_obj.nome}}</option>
            </select>
        </div>
        <div class="form-group col-md-10">
            <button type="submit" formmethod="GET" formaction="/lavajato_agenda/" class="btn btn-secondary float-right" title="Buscar" disabled>Buscar</button>
        </div>
        </div>
        {% if carros %}
        <div class="form-row">
            <input type="hidden" name="cliente_id" value="{{cliente_obj.id}}">
            <div class="form-group col-md-10">
                <label for="inputName">Carro<strong>*</strong></label>
                <select autofocus name="carro_id" class="form-control" required >
                    <option disabled selected> -- Carro -- </option>
                    {% for carro in carros %}
                    <option value={{carro.id}}>{{carro.modelo}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-10">
                <label for="inputName">Servico<strong>*</strong></label>
                <select name="servico_id" class="form-control" required>
                    <option disabled selected> -- Servico -- </option>
                    {% for servico in servicos %}
                    <option value={{servico.id}}>{{servico.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-10">
                <label for="inputName">Funcionario<strong>*</strong></label>
                <select name="funcionario_id" class="form-control" required>
                    <option disabled selected> -- Funcionario -- </option>
                    {% for funcionario in funcionarios %}
                    <option value={{funcionario.id}}>{{funcionario.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-2">
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Data</label>
                <input type="date" class="form-control" name="data" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="inputTel">Observação</label>
                <textarea class="form-control" name="obs" id="exampleFormControlTextarea1" rows="6"></textarea>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="form-group col-md-10">
                <button type="submit" class="btn btn-secondary float-right" title="Registrar novo agendamento">Registrar</button>
            </div>
        </div>
        {% endif %}
    {% endif %}
    </form>
{% endblock %}