{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h1>Editar Ordem</h1><hr />
    <form method="POST">
    {%csrf_token%}
        <input type="hidden" name="agenda_id" value="{{agenda_obj.id}}"/>
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="inputName">Cliente<strong>*</strong></label>
                <input type="text" class="form-control" value="{{agenda_obj.cli.nome}}" disabled>
            </div>
            <hr />
                <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Servico</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Funcionario</th>
                        <th scope="col">Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_servico in it_servicos %}
                    {% if item_servico.cancelado == '1' %}
                        <tr>
                            <td>{{item_servico.id}}</td>
                            <td>{{item_servico.data_cadastro|date:"H:i"}}</td>
                            <td>{{item_servico.serv.nome}}</td>
                            <td>{{item_servico.serv.valor}}</td>
                            <td>{{item_servico.func.nome}}</td>
                            <td><button name="servico_item_id" value="{{item_servico.id}}" class="btn btn-light" formaction="/lavajato_agenda/excluir" title="Excluir">&#x274C;</button></td>
                        </tr>
                    {% endif %}
                    {% if item_servico.cancelado == '2' %}
                        <tr>
                            <td>{{item_servico.id}}</td>
                            <td style="color:#ff3939;">{{item_servico.data_cadastro|date:"H:i"}}</td>
                            <td style="color:#ff3939;">{{item_servico.serv.nome}}</td>
                            <td style="color:#ff3939;">{{item_servico.serv.valor}}</td>
                            <td style="color:#ff3939;">{{item_servico.func.nome}}</td>
                            <td style="color:#ff3939;">Excluido</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="form-row">
                <div class="form-group col-md-10">
                    <label for="inputTel">Observação</label>
                    <textarea class="form-control" name="obs" id="exampleFormControlTextarea1" rows="6" >{{agenda_obj.obs}}</textarea>
                </div>
                <div class="form-group col-md-9">

                </div>
                <div class="form-group col-md-3">
                    <button name="agenda_id" value="{{agenda_obj.id}}" class="btn btn-secondary" formaction="/lavajato_agenda/salvar" title="Salvar alteração">Salvar</button>                </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-6">
                <h3 class="float-right"><b>Total: R${{agenda_obj.total}}</b></h3>
            </div>
        </div>
    </form>
{% endblock %}