{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h1>Adicionar servico</h1><hr />
    <form method="POST">
    {%csrf_token%}
        <input type="hidden" name="agenda_id" value="{{agenda_obj.id}}"/>
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="inputName">Cliente<strong>*</strong></label>
                <input type="text" class="form-control" value="{{agenda_obj.cli.nome}}" disabled>
            </div>
            <div class="form-group col-md-10">
                <label for="inputName">Servico<strong>*</strong></label>
                <select autofocus name="servico_id" class="form-control" required>
                    <option disabled selected> -- Servico -- </option>
                    {% for servico in servicos %}
                    <option value={{servico.id}}>{{servico.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-10">
                    <label for="inputName">Funcionario<strong>*</strong></label>
                    <select autofocus name="funcionario_id" class="form-control" required>
                        <option disabled selected> -- Funcionario -- </option>
                        {% for funcionario in funcionarios %}
                            <option value={{funcionario.id}}>{{funcionario.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br />
                <div class="form-group col-md-10">
                    <button type="submit" class="btn btn-secondary float-right" formaction="/lavajato_agenda/add_servico" title="Adicionar servico">Adicionar</button>
                </div>
            <hr />
                <table class="table table-responsive">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Data</th>
                        <th scope="col">Servico</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Funcionario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_servico in it_servicos %}
                        <tr>
                            <td width="10%">{{item_servico.id}}</td>
                            <td width="15%">{{item_servico.data_cadastro|date:"d/m/Y"}}</td>
                            <td width="30%">{{item_servico.serv.nome}}</td>
                            <td width="15%">{{item_servico.serv.valor}}</td>
                            <td width="30%">{{item_servico.func.nome}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        <div class="form-row">
            <div class="col-md-4 offset-md-6">
                <h3 class="float-right"><b>Total: R${{agenda_obj.total}}</b></h3>
            </div>
        </div>
        <br />
        <div class="form-row">
            <div class="form-group col-md-4">
                <button type="submit" formaction="/lavajato_agenda/checklist" class="btn btn-secondary float-left">Check-List</button>
            </div>
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-4">
                <button type="submit" formaction="/lavajato_agenda/ver" class="btn btn-secondary float-right">Finalizar</button>
            </div>
        </div>
</form>
{% endblock %}