{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
<h1>Selecione a Ordem</h1><hr /><br />
    <form method="POST">
    {%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-12">
            <select name="agenda_id" class="form-control" required>
                <option disabled selected > -- Cliente -- Data -- </option>
                {% for agenda in agendas %}
                    <option value="{{agenda.id}}">{{agenda.cli.nome}} -- {{agenda.data|date:"d/m/Y"}} </option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-secondary float-right" title="Buscar agendamento">Buscar</button>
        </div>
    </div>
    </form>
{% endblock %}