{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h1>Editar agenda</h1><hr />
    <form method="POST">
    {%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-9"></div>
        <div class="form-group col-md-3">
            <label>Data</label>
            <input type="date" class="form-control" value="{{hoje}}" name="data" title="Selecione a data"/>
            <button type="submit" class="btn btn-secondary float-right" title="Buscar por data">Buscar</button>
        </div>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Editar</th>
                </tr>
            </thead>
            <tbody>
                {% for agenda in agendas %}
                {% if agenda.estado == '1' %}
                    <tr>
                        <td>{{agenda.id}}</td>
                        <td>{{agenda.data|date:"H:i"}}</td>
                        <td>{{agenda.cli.nome}}</td>
                        <td>R$ {{agenda.total}}</td>
                        <td>{{agenda.get_estado_display}}</td>
                        <td><button name="agenda_id" value="{{agenda.id}}" class="btn btn-secondary" formmethod="GET" formaction="/lavajato_agenda/edita" title="Editar agendamento">Editar</button></td>
                    </tr>
                    {% endif %}
                    {% if agenda.estado == '2' %}
                    <tr>
                        <td>{{agenda.id}}</td>
                        <td>{{agenda.data|date:"H:i"}}</td>
                        <td>{{agenda.cli.nome}}</td>
                        <td>R$ {{agenda.total}}</td>
                        <td>{{agenda.get_estado_display}}</td>
                        <td>Finalizado</td>
                    </tr>
                {% endif %}
                {% if agenda.estado == '3' %}
                    <tr>
                        <td>{{agenda.id}}</td>
                        <td>{{agenda.data|date:"H:i"}}</td>
                        <td>{{agenda.cli.nome}}</td>
                        <td>R$ {{agenda.total}}</td>
                        <td>{{agenda.get_estado_display}}</td>
                        <td>Finalizado</td>
                    </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    </form>
{% endblock %}