{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h1>Ordem em branco</h1><hr />
    <form method="POST">
    {%csrf_token%}
        <input type="hidden" name="agenda_id" value="{{agenda_obj.id}}"/>
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputName">OS</label>
                <input type="text" class="form-control" value="{{agenda_obj.id}}" disabled>
            </div>
            <div class="form-group col-md-10">
            </div>
            <div class="form-group col-md-10">
                <label for="inputName">Cliente</label>
                <input type="text" class="form-control" value="{{agenda_obj.cli.nome}}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">Telefone</label>
                <input type="text" class="form-control" value="{{agenda_obj.cli.telefone}}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">Celular</label>
                <input type="text" class="form-control" value="{{agenda_obj.cli.celular}}" disabled>
            </div>
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">Carro</label>
                <input type="text" class="form-control" value="{{agenda_obj.car.modelo}}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">Placa</label>
                <input type="text" class="form-control" value="{{agenda_obj.car.placa}}" disabled>
            </div>
            <div class="form-group col-md-10">
                <h4 for="inputName">Serviços</h4>
            </div>
            <div class="form-group col-md-10">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Data</th>
                            <th scope="col">Serviços</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Funcionario</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item_servico in it_servicos %}
                        <tr>
                            <td>{{item_servico.id}}</td>
                            <td>{{item_servico.data_cadastro|date:"d/m/Y"}}</td>
                            <td>{{item_servico.serv.nome}}</td>
                            <td>{{item_servico.serv.valor}}</td>
                            <td>{{item_servico.func.nome}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <br />
                    <br />
                    <br />
                    <br />
                </table>
            </div>
        </div>
        <div class="form-group col-md-10">
            <hr />
        </div>
        <div class="col-md-3 offset-md-6">
            <h3 class="float-right"><b>Total: R${{agenda_obj.total}}</b></h3>
        </div>
        </div>
        <br />
        <br />
        <br />
        <div class="form-row">
            <div class="form-group col-md-10">
                <img src="{% static '/img/checklist.png' %}" alt="Check-list" class="responsive"> 
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="inputTel">Observação</label>
                <textarea class="form-control" name="obs" id="exampleFormControlTextarea1" rows="6" disabled>{{agenda_obj.obs}}</textarea>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputName">__________________________</label><br />
                <label for="inputName">JOIA - Estética Automotiva</label>
            </div>
            <div class="form-group col-md-3">
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">__________________________</label><br />
                <label for="inputName">{{agenda_obj.cli.nome}}</label>
            </div>
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">{{hoje}}</label>
            </div>
            <div class="form-group col-md-4">
            </div>
        </div>
    </form>
{% endblock %}