{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h3>Check-list</h3><hr />
    <form method="POST">
    {%csrf_token%}
        {% if agenda_obj == None %}
        <div class="form-row">
            <div class="form-group col-md-12">
                <select name="agenda_id" class="form-control" required>
                    <option disabled selected > -- Data -- Cliente -- Carro -- Placa</option>
                    {% for agenda in agendas %}
                    <option value="{{agenda.id}}">{{agenda.data|date:"d/m/Y"}} -- {{agenda.cli.nome}} -- {{agenda.car.modelo}}-- {{agenda.car.placa}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-secondary float-right" title="Buscar agendamento">Buscar</button>
            </div>
        </div>
        {% endif %}
        {% if agenda_obj %}
        <input type="hidden" name="agenda_id" value="{{agenda_obj.id}}" />
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="inputName">OS</label>
                <input type="text" class="form-control" value="{{agenda_obj.id}}" disabled>
            </div>
            <div class="form-group col-md-10">
            </div>
            <div class="form-group col-md-12">
                <label for="inputName">Cliente</label>
                <input type="text" class="form-control" value="{{agenda_obj.cli.nome}}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">Carro</label>
                <input type="text" class="form-control" value="{{agenda_obj.car.modelo}}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">Placa</label>
                <input type="text" class="form-control" value="{{agenda_obj.car.placa}}" disabled>
            </div>
            <div class="form-group col-md-12">
                <h4 for="inputName">Serviços</h4>
            </div>
            <div class="form-group col-md-12">
                <table class="table table-responsive-md">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Data</th>
                            <th scope="col">Serviços</th>
                            <th scope="col">Funcionario</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item_servico in it_servicos %}
                        <tr>
                            <td width="10%">{{item_servico.id}}</td>
                            <td width="20%">{{item_servico.data_cadastro|date:"d/m/Y"}}</td>
                            <td width="35%">{{item_servico.serv.nome}}</td>
                            <td width="35%">{{item_servico.func.nome}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group col-md-12">
        <hr />
        </div>
        <br />
        <br />
        <br />
        <div class="form-row">
            <div class="form-group col-md-12">
                <img src="{% static '/img/checklist.png' %}" alt="Check-list" class="responsive">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputTel">Observação</label>
                <textarea class="form-control" name="obs" id="exampleFormControlTextarea1" rows="6" disabled>{{agenda_obj.obs}}</textarea>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputName">__________________________</label><br />
                <label for="inputName">JOIA - Estética Automotiva</label>
            </div>
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">__________________________</label><br />
                <label for="inputName">{{agenda_obj.cli.nome}}</label>
            </div>
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">{{hoje}}</label>
            </div>
            <div class="form-group col-md-4">
                <button type="submit" formaction="/lavajato_agenda/ver" class="btn btn-secondary float-right">Finalizar</button>
            </div>
        </div>
        {% endif %}
    </form>
{% endblock %}