{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center; color: beige;">{{msg}}</h1><hr />
{%endif%}
<h1>Confirmacao</h1><hr />
    <form method="GET">
        {% csrf_token %}
        <input type="hidden" name="agenda_id" value="{{agenda_obj.id}}" />
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="inputName">Cliente<strong>*</strong></label>
                <input type="text" class="form-control" value="{{agenda_obj.cli.nome}}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">Carro<strong>*</strong></label>
                <input type="text" class="form-control" value="{{agenda_obj.car.modelo}}" disabled>
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">Placa<strong>*</strong></label>
                <input type="text" class="form-control" value="{{agenda_obj.car.placa}}" disabled>
            </div>
            <div class="form-group col-md-4">
              <label for="inputName">Data Pag.</label>
              <input type="text" class="form-control" value="{{agenda_obj.data_pagamento|date:"d/m/Y"}}" disabled>
            </div>
            <div class="form-group col-md-12">
                <table class="table table-reponsive-md">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Data</th>
                            <th scope="col">Servico</th>
                            <th scope="col">Valor</th>
                            <th scope="col">Funcionario</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item_servico in servicos %}
                        {% if item_servico.cancelado == '1' %}
                        <tr>
                            <td>{{item_servico.id}}</td>
                            <td>{{item_servico.data_cadastro|date:"d/m/Y"}}</td>
                            <td>{{item_servico.serv.nome}}</td>
                            <td>R$ {{item_servico.serv.valor}}</td>
                            <td>{{item_servico.func.nome}}</td>
                        </tr>
                        {% endif %}
                        {% if item_servico.cancelado == '2' %}
                        <tr>
                            <td>{{item_servico.id}}</td>
                            <td style="color:#ff3939;">{{item_servico.data_cadastro|date:"d/m/Y"}}</td>
                            <td style="color:#ff3939;">{{item_servico.serv.nome}}</td>
                            <td style="color:#ff3939;">R$ {{item_servico.serv.valor}}</td>
                            <td style="color:#ff3939;">{{item_servico.func.nome}}</td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr />
          </div>
          <div class="form-row">
              <div class="form-group col-md-4">
              </div>
              <div class="form-group col-md-4">
              </div>
              <div class="form-group col-md-4">
                <h5 class="float-right">Sub-Total: R$ {{agenda_obj.subtotal}}</h5><br />
                <h5 class="float-right">Desconto: R$ {{agenda_obj.desconto}}</h5><br />
                <h5 class="float-right">Pag. Parcial: R$ {{agenda_obj.pag_parcial}}</h5><br />
                <h4 class="float-right">TOTAL: <b>R$ {{agenda_obj.total}}</b></h4>
              </div>
            </div>
            <br />
            <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="inputName">Pagamento<strong>*</strong></label><hr />
                  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal1">Dinheiro</button>&nbsp;
                  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal2">Débito</button>&nbsp;
                  <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal3">Crédito</button>&nbsp;
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal">Desconto</button>
                </div>
            </div>
    </form>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="agenda_id" value="{{agenda_obj.id}}" />
        <!-- Modal DESCONTO-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Desconto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3 for="inputName"><b>Total: R$ {{agenda_obj.total}}</b></h3><hr />
                <label for="inputName">Valor do Desconto<strong>*</strong></label>
                <input type="text" class="form-control" name="desconto" maxlength="10" onkeydown="javascript: fMasc( this, mValor );" required>
              </div>
              <div class="modal-footer">                  
                <button type="button" class="btn btn-dark float-left" data-dismiss="modal" aria-label="Close">Cancelar</button>
                <button type="submit" class="btn btn-secondary" formaction="/lavajato_agenda/desconto">Registrar</button>
              </div>
            </div>
          </div>
        </div>
    </form>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="agenda_id" value="{{agenda_obj.id}}" />
        <!-- Modal 1 DINHEIRO-->
        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pagamento em Dinheiro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3 for="inputName"><b>Total: R$ {{agenda_obj.total}}</b></h3>
              </div>
              <div class="modal-body col-md-5">
                  <h5 for="inputName">Valor em Dinheiro<strong>*</strong>:</h5>
                <input type="text" class="form-control" name="dinheiro" maxlength="10" onkeydown="javascript: fMasc( this, mValor );" autofocus required>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-dark float-left" data-dismiss="modal" aria-label="Close">Cancelar</button>
                  <button type="submit" class="btn btn-secondary " formmethod="POST" formaction="/lavajato_agenda/dinheiro" title="Pagamento em dinheiro">Registrar</button>
              </div>
            </div>
          </div>
        </div>
    </form>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="agenda_id" value="{{agenda_obj.id}}" />
        <!-- Modal 2 DEBITO -->
        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cartão Débito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3 for="inputName"><b>Total: R$ {{agenda_obj.total}}</b></h3>
              </div>
              <hr />
              <div class="modal-body col-md-5">
                  <h5 for="inputName">Valor em Cartão<strong>*</strong>:</h5>
                  <input type="text" class="form-control" name="debito" maxlength="10" onkeydown="javascript: fMasc( this, mValor );" autofocus required>
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark float-left" data-dismiss="modal" aria-label="Close">Cancelar</button>
                <button type="submit" class="btn btn-secondary " formmethod="POST" formaction="/lavajato_agenda/elo_debito" title="Pagamento em ELO débito.">ELO Débito</button>
                <button type="submit" class="btn btn-secondary " formmethod="POST" formaction="/lavajato_agenda/debito" title="Pagamento em débito.">Débito</button>
            </div>
            </div>
          </div>
        </div>
    </form>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="agenda_id" value="{{agenda_obj.id}}" />
        <!-- Modal 3 CREDITO -->
        <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cartao de Crédito</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h3 for="inputName"><b>Total: R$ {{agenda_obj.total}}</b></h3>
              </div>
              <hr />
              <div class="modal-body col-md-5">
                  <h5 for="inputName">Valor em Cartão<strong>*</strong>:</h5>
                  <input type="text" class="form-control" name="credito" maxlength="10" onkeydown="javascript: fMasc( this, mValor );" required>
                </div>
              <div class="modal-body col-md-5">
                  <h5 for="inputName">Num. Parcelas<strong>*</strong>:</h5>
                  <input type="number" class="form-control" value="1" name="n_parcelas" title="Digite o número de parcelas." required/>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-dark float-left" data-dismiss="modal" aria-label="Close">Cancelar</button>
                <button type="submit" class="btn btn-secondary " formmethod="POST" formaction="/lavajato_agenda/elo_credito" title="Pagamento em ELO crédito.">ELO Crédito</button>
                <button type="submit" class="btn btn-secondary " formmethod="POST" formaction="/lavajato_agenda/credito" title="Pagamento em crédito.">Crédito</button>
            </div>
            </div>
          </div>
        </div>
    </form>
{% endblock %}
