{% extends 'chica_base.html' %}

{% block body %}
{% load static %}
    {% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
    {%endif%}
    <h1>Nova Conta</h1>
    <hr />
        <form method="post">
        {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label for="inputName">Descricao da conta </label>
                    <input type="text" class="form-control" id="inputEmail4" name="nome" maxlength="200" required autofocus>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputTel">Data de Venc.</label>
                    <input type="date" class="form-control" id="inputPassword4" name="data_venc">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputTel">Valor</label>
                    <input type="number" step="0.01" class="form-control" maxlength="20" name="valor">
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-secondary float-right">Salvar</button>
        </form>
{% endblock %}