{% extends 'chica_base.html' %}

{% block body %}
{% load static %}
<h1>Busca Conta</h1><hr /><br />
    <form method="POST">
    {%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-12">
            <select name="conta_id" class="form-control" required title="Selecione a conta">
                <option disabled selected > -- Conta -- Valor -- Data Venc. -- </option>
                {% for conta in contas %}
                    <option value={{conta.id}}>{{conta.nome}} -- R${{conta.valor}} -- {{conta.data_venc|date:"d/m/Y"}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-secondary float-right" title="Visualizar conta">Visualizar</button>
        </div>
    </div>
    </form>
{% endblock %}