certifi==2018.4.16
django >=1.11.15
django-heroku==0.3.1
dj-database-url==0.5.0
gunicorn==19.9.0
pip==18.0
pipenv==2018.7.1
psycopg2==2.7.5
pytz==2018.5
setuptools==39.0.1
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
xhtml2pdf==0.2.3