{% extends 'top_base.html' %}

{% block body %}
{% load static %}
    {% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
    {%endif%}
    <h1>Editar Cliente</h1>
    <hr />
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputName">Convenio </label>
                {% if cliente_obj.convenio == '1' %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios1" value="1" checked >
                    <label class="form-check-label" style="color:black;" for="exampleRadios1">
                    INSS
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios2" value="2" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Estado MS
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios3" value="3" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    SIAPE
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios4" value="4" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Exercito
                    </label>
                </div>
                {% endif %}
                {% if cliente_obj.convenio == '2' %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios1" value="1" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios1">
                    INSS
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios2" value="2" checked >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Estado MS
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios3" value="3" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    SIAPE
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios4" value="4" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Exercito
                    </label>
                </div>
                {% endif %}
                {% if cliente_obj.convenio == '3' %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios1" value="1" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios1">
                    INSS
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios2" value="2" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Estado MS
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios3" value="3" checked >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    SIAPE
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios4" value="4" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Exercito
                    </label>
                </div>
                {% endif %}
                {% if cliente_obj.convenio == '4' %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios1" value="1" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios1">
                    INSS
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios2" value="2" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Estado MS
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios3" value="3" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    SIAPE
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="convenio" id="exampleRadios4" value="4" checked >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Exercito
                    </label>
                </div>
                {% endif %}
            </div>
            <div class="form-group col-md-3">
                <label for="inputName">Operacao </label>
                {% if cliente_obj.operacao == 'novo' %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="operacao" id="exampleRadios1" value="novo" checked >
                    <label class="form-check-label" style="color:black;" for="exampleRadios1">
                    Novo
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="operacao" id="exampleRadios2" value="refinanciamento" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Refinanciamento
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="operacao" id="exampleRadios3" value="sac" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    SAC Cartao
                    </label>
                </div>
                {% endif %}

                {% if cliente_obj.operacao == 'refinanciamento' %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="operacao" id="exampleRadios1" value="novo" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios1">
                    Novo
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="operacao" id="exampleRadios2" value="refinanciamento" checked >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Refinanciamento
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="operacao" id="exampleRadios3" value="sac" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    SAC Cartao
                    </label>
                </div>
                {% endif %}
                {% if cliente_obj.operacao == 'sac' %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="operacao" id="exampleRadios1" value="novo" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios1">
                    Novo
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="operacao" id="exampleRadios2" value="refinanciamento" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Refinanciamento
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="operacao" id="exampleRadios3" value="sac" checked >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    SAC Cartao
                    </label>
                </div>
                {% endif %}
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Data do Cadastro</label>
                <input type="date" class="form-control" id="inputPassword4" name="data_cadastro" value="{{cliente_obj.data_cadastro|date:"Y-m-d"}}" disabled>
            </div>
            <div class="form-group col-md-3">
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">Banco </label>
                <input type="text" class="form-control" id="inputEmail4" name="banco_cad" maxlength="200" value="{{cliente_obj.banco_cad}}"  >
            </div>
            <div class="form-group col-md-8">
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">CPF</label>
                <input type="text" class="form-control" name="cpf" maxlength="14" onkeydown="javascript: fMasc( this, mCPF );" value="{{cliente_obj.cpf}}" >
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Num. Beneficio</label>
                <input type="number" class="form-control" id="inputPassword4" maxlength="25" name="beneficio" value="{{cliente_obj.beneficio}}" >
            </div>
            <div class="form-group col-md-1">
                <label for="inputTel">UF</label>
                <input type="text" class="form-control" style="text-transform: uppercase;" id="inputPassword4" maxlength="2" name="uf_beneficio" value="{{cliente_obj.uf_beneficio}}" >
            </div>
            <div class="form-group col-md-9">
                <label for="inputName">Nome Completo </label>
                <input type="text" class="form-control" id="inputEmail4" name="nome" maxlength="200" value="{{cliente_obj.nome}}"  >
            </div>
            <div class="form-group col-md-9">
                <label for="inputName">Pai </label>
                <input type="text" class="form-control" id="inputEmail4" name="pai" maxlength="200" value="{{cliente_obj.pai}}" >
            </div>
            <div class="form-group col-md-9">
                <label for="inputName">Mae </label>
                <input type="text" class="form-control" id="inputEmail4" name="mae" maxlength="200" value="{{cliente_obj.mae}}" >
            </div>
            <div class="form-group col-md-9">
                <label for="inputEmail">Endereco</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="200" name="endereco" value="{{cliente_obj.endereco}}" >
            </div>
            <div class="form-group col-md-2">
                <label for="inputEmail">Numero</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="6" name="numero"value="{{cliente_obj.numero}}" >
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Bairro</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="200" name="bairro"value="{{cliente_obj.bairro}}" >
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">CEP</label>
                <input type="text" class="form-control" name="cep" maxlength="10" onkeydown="javascript: fMasc( this, mCEP );" value="{{cliente_obj.cep}}" >
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Cidade</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="200" name="cidade" value="{{cliente_obj.cidade}}" >
            </div>
            <div class="form-group col-md-1">
                <label for="inputTel">UF</label>
                <input type="text" class="form-control" id="inputPassword4" style="text-transform: uppercase;" maxlength="2" name="uf_cidade" value="{{cliente_obj.uf_cidade}}" >
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Data de Nasc.</label>
                <input type="date" class="form-control" id="inputPassword4" name="data_nasc" value="{{cliente_obj.data_nasc|date:"Y-m-d"}}" required >
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Natural</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="200" name="natural" value="{{cliente_obj.natural}}" >
            </div>
            <div class="form-group col-md-1">
                <label for="inputTel">UF</label>
                <input type="text" class="form-control" id="inputPassword4" style="text-transform: uppercase;" maxlength="2" name="uf_natural" value="{{cliente_obj.uf_natural}}" >
            </div>
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">RG/CNH</label>
                <input type="text" class="form-control" id="inputEmail4" name="rg" maxlength="20" value="{{cliente_obj.rg}}" >
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">Exp.</label>
                <input type="text" class="form-control" id="inputEmail4" name="expedicao" maxlength="20" value="{{cliente_obj.expedicao}}" >
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Data de Exp.</label>
                <input type="date" class="form-control" id="inputPassword4" name="data_exp" value="{{cliente_obj.data_exp|date:"Y-m-d"}}" required >
            </div>
            <div class="form-group col-md-12">
                <label for="inputName">Escolaridade</label>
                <input type="text" class="form-control" id="inputEmail4" name="escolaridade" maxlength="100" value="{{cliente_obj.escolaridade}}" >
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Telefone</label>
                <input type="text" class="form-control" name="tel" maxlength="14" onkeydown="javascript: fMasc( this, mTel );" value="{{cliente_obj.tel}}" >
            </div>
            <div class="form-group col-md-3">
                <label for="inputCel">Celular</label>
                <input type="text" class="form-control" name="cel" maxlength="14" onkeydown="javascript: fMasc( this, mTel );" value="{{cliente_obj.cel}}" >
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">E-mail</label>
                <input type="email" class="form-control" id="inputAddress2" maxlength="200" name="mail" value="{{cliente_obj.mail}}" >
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Especie do Beneficio</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="especie_beneficio" value="{{cliente_obj.especie_beneficio}}" >
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Renda</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="renda" value="{{cliente_obj.renda}}" >
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Cad. Senha</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="cad_senha" value="{{cliente_obj.cad_senha}}" >
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Senha Econsig.</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="senha_econsig" value="{{cliente_obj.senha_econsig}}" >
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Prec</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="prec" value="{{cliente_obj.prec}}" >
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">ID. MG</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="id_mg" value="{{cliente_obj.id_mg}}" >
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Valor Solicitado</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="valor_solicitado" value="{{cliente_obj.valor_solicitado}}" >
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">N. de Parcelas</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="n_parcela" value="{{cliente_obj.n_parcela}}" >
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Valor da Parc.</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="valor_parcela" value="{{cliente_obj.valor_parcela}}" >
            </div>
            <div class="form-group col-md-3">
                <label for="inputName">Forma de Pagamento </label>
                {% if cliente_obj.f_pagamento == 'ted' %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="f_pagamento" id="exampleRadios1" value="ted" checked >
                    <label class="form-check-label" style="color:black;" for="exampleRadios1">
                    TED
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="f_pagamento" id="exampleRadios2" value="ordem_pagamento" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Ordem de Pagamento
                    </label>
                </div>
                {% endif %}
                {% if cliente_obj.f_pagamento == 'ordem_pagamento' %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="f_pagamento" id="exampleRadios1" value="ted" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios1">
                    TED
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="f_pagamento" id="exampleRadios2" value="ordem_pagamento" checked >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Ordem de Pagamento
                    </label>
                </div>
                {% endif %}
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Banco</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="banco" value="{{cliente_obj.banco}}" >
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Agencia</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="agencia" value="{{cliente_obj.agencia}}" >
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Conta N.</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="n_conta" value="{{cliente_obj.n_conta}}" >
            </div>
            <div class="form-group col-md-3">
                <label for="inputName">Conta</label>
                {% if cliente_obj.t_conta == 'corrente' %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="t_conta" id="exampleRadios1" value="corrente" checked >
                    <label class="form-check-label" style="color:black;" for="exampleRadios1">
                    Conta Corrente
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="t_conta" id="exampleRadios2" value="poupanca" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Poupanca
                    </label>
                </div>
                {% endif %}
                {% if cliente_obj.t_conta == 'poupanca' %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="t_conta" id="exampleRadios1" value="corrente" >
                    <label class="form-check-label" style="color:black;" for="exampleRadios1">
                    Conta Corrente
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="t_conta" id="exampleRadios2" value="poupanca" checked >
                    <label class="form-check-label" style="color:black;" for="exampleRadios2">
                    Poupanca
                    </label>
                </div>
                {% endif %}
            </div>
            <div class="form-group col-md-9">
                <label for="inputEmail">Obs.</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="200" name="obs" value="{{cliente_obj.obs}}" >
            </div>
        </div>
        <input type="hidden" name="cliente_id" value="{{cliente_obj.id}}">
        <button type="submit" class="btn btn-secondary float-right">Salvar</button>
    </form>
{% endblock %}