{% extends 'top_base.html' %}

{% block body %}
{% load static %}
    {% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
    {%endif%}
    <h1>Novo Cliente Portabilidade</h1>
    <hr />
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            
            <div class="form-group col-md-3">
                <label for="inputTel">Data</label>
                <input type="date" class="form-control" id="inputPassword4" name="data_cadastro" value="{{hoje}}" required>
            </div>
            <div class="form-group col-md-9">
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">Orgao </label>
                <input type="text" class="form-control" id="inputEmail4" name="orgao" maxlength="200"  >
            </div>
            <div class="form-group col-md-4">
                <label for="inputName">N. Beneficio </label>
                <input type="text" class="form-control" id="inputEmail4" name="n_beneficio" maxlength="50"  >
            </div>
            <div class="form-group col-md-2">
                <label for="inputName">Especie </label>
                <input type="text" class="form-control" id="inputEmail4" name="especie_beneficio" maxlength="50"  >
            </div>
            <div class="form-group col-md-2">
                <label for="inputName">UF </label>
                <input type="text" class="form-control" style="text-transform: uppercase;" name="uf_beneficio" maxlength="2"  >
            </div>
            <div class="form-group col-md-8">
                <label for="inputName">Nome Completo </label>
                <input type="text" class="form-control" id="inputEmail4" name="nome" maxlength="200" required >
            </div>
            <div class="form-group col-md-1">
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">CPF</label>
                <input type="text" class="form-control" ame="cpf" maxlength="14" onkeydown="javascript: fMasc( this, mCPF );">
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Data de Nasc.</label>
                <input type="date" class="form-control" id="inputPassword4" name="data_nasc" required>
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Natural</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="200" name="natural">
            </div>
            <div class="form-group col-md-1">
                <label for="inputTel">UF</label>
                <input type="text" class="form-control" id="inputPassword4" style="text-transform: uppercase;" maxlength="2" name="uf_natural">
            </div>
            <div class="form-group col-md-9">
                <label for="inputEmail">Endereco</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="200" name="endereco">
            </div>
            <div class="form-group col-md-2">
                <label for="inputEmail">Numero</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="6" name="numero">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Bairro</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="200" name="bairro">
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">CEP</label>
                <input type="text" class="form-control" name="cep" maxlength="10" onkeydown="javascript: fMasc( this, mCEP );">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Cidade</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="200" name="cidade">
            </div>
            <div class="form-group col-md-1">
                <label for="inputTel">UF</label>
                <input type="text" class="form-control" id="inputPassword4" style="text-transform: uppercase;" maxlength="2" name="uf_cidade">
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Telefone</label>
                <input type="text" class="form-control" name="tel" maxlength="14" onkeydown="javascript: fMasc( this, mTel );">
            </div>
            <div class="form-group col-md-3">
                <label for="inputCel">Celular</label>
                <input type="text" class="form-control" name="cel" maxlength="14" onkeydown="javascript: fMasc( this, mTel );">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">E-mail</label>
                <input type="email" class="form-control" id="inputAddress2" maxlength="200" name="mail">
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-12">
                <h4>Banco 1</h4>
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Banco Atual</label>
                <input type="text" class="form-control" maxlength="50" name="banco_atual">
            </div>
            <div class="form-group col-md-1">
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Banco Portador</label>
                <input type="text" class="form-control" maxlength="50" name="banco_portador">
            </div>
            <div class="form-group col-md-5">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">CTT</label>
                <input type="number" step="0.01" class="form-control"  maxlength="50" name="ctt">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Quitacao</label>
                <input type="number" step="0.01" class="form-control"  maxlength="50" name="quitacao">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Valor da Parc.</label>
                <input type="number" class="form-control" step="0.01" maxlength="50" name="valor_parcela">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Liquido</label>
                <input type="number" class="form-control" step="0.01" maxlength="50" name="liquido">
            </div>
            <div class="form-group col-md-12">
                <h4>Banco 2</h4>
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Banco Atual</label>
                <input type="text" class="form-control" maxlength="50" name="banco_atual1">
            </div>
            <div class="form-group col-md-1">
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Banco Portador</label>
                <input type="text" class="form-control" maxlength="50" name="banco_portador1">
            </div>
            <div class="form-group col-md-5">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">CTT</label>
                <input type="number" step="0.01" class="form-control"  maxlength="50" name="ctt1">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Quitacao</label>
                <input type="number" step="0.01" class="form-control"  maxlength="50" name="quitacao1">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Valor da Parc.</label>
                <input type="number" class="form-control" step="0.01" maxlength="50" name="valor_parcela1">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Liquido</label>
                <input type="number" class="form-control" step="0.01" maxlength="50" name="liquido1">
            </div>
            <div class="form-group col-md-12">
                <h4>Banco 3</h4>
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Banco Atual</label>
                <input type="text" class="form-control" maxlength="50" name="banco_atual2">
            </div>
            <div class="form-group col-md-1">
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Banco Portador</label>
                <input type="text" class="form-control" maxlength="50" name="banco_portador2">
            </div>
            <div class="form-group col-md-5">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">CTT</label>
                <input type="number" step="0.01" class="form-control"  maxlength="50" name="ctt2">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Quitacao</label>
                <input type="number" step="0.01" class="form-control"  maxlength="50" name="quitacao2">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Valor da Parc.</label>
                <input type="number" class="form-control" step="0.01" maxlength="50" name="valor_parcela2">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Liquido</label>
                <input type="number" class="form-control" step="0.01" maxlength="50" name="liquido2">
            </div>
            <div class="form-group col-md-12">
                <h4>Banco 4</h4>
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Banco Atual</label>
                <input type="text" class="form-control" maxlength="50" name="banco_atual3">
            </div>
            <div class="form-group col-md-1">
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Banco Portador</label>
                <input type="text" class="form-control" maxlength="50" name="banco_portador3">
            </div>
            <div class="form-group col-md-5">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">CTT</label>
                <input type="number" step="0.01" class="form-control"  maxlength="50" name="ctt3">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Quitacao</label>
                <input type="number" step="0.01" class="form-control"  maxlength="50" name="quitacao3">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Valor da Parc.</label>
                <input type="number" class="form-control" step="0.01" maxlength="50" name="valor_parcela3">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Liquido</label>
                <input type="number" class="form-control" step="0.01" maxlength="50" name="liquido3">
            </div>
        </div>
        <br>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputName">Forma de Pagamento </label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="f_pagamento" id="exampleRadios1" value="ted" checked>
                    <label class="form-check-label" for="exampleRadios1">
                    TED
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="f_pagamento" id="exampleRadios2" value="ordem_pagamento">
                    <label class="form-check-label" for="exampleRadios2">
                    Ordem de Pagamento
                    </label>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Banco</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="banco">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Agencia</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="agencia">
            </div>
            <div class="form-group col-md-3">
                <label for="inputEmail">Conta N.</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="50" name="n_conta">
            </div>
            <div class="form-group col-md-3">
                <label for="inputName">Conta</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="t_conta" id="exampleRadios1" value="corrente" checked>
                    <label class="form-check-label" for="exampleRadios1">
                    Conta Corrente
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="t_conta" id="exampleRadios2" value="poupanca">
                    <label class="form-check-label" for="exampleRadios2">
                    Poupanca
                    </label>
                </div>
            </div>
            <div class="form-group col-md-9">
                <label for="inputEmail">Obs.</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="200" name="obs">
            </div>
        </div>
        
        <button type="submit" class="btn btn-secondary float-right">Salvar</button>
    </form>
{% endblock %}