{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
    {% if msg %}
        <h1 style="text-align:center;">{{msg}}</h1><hr />
    {%endif%}
<h1>Adicionar carro</h1><hr /><br />
    <form method="POST" action="/lavajato_cliente/novo_carro">
    {%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-12">
            <select name="cliente_id" class="form-control" required>
                <option disabled selected > -- Cliente -- </option>
                {% for cliente in clientes %}
                    <option value={{cliente.id}}>{{cliente.nome}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-secondary float-right">Adicionar carro</button>
        </div>
    </div>
    </form>
{% endblock %}