{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h1>Receber OS selecionada(s)</h1><hr />
    <form method="GET">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="inputName">Cliente<strong>*</strong></label>
                <input type="text" class="form-control" value="{{cliente_obj.nome}}" disabled>
            </div>
          <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Data</th>
                    <th scope="col">Carro</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for agenda in agendas %}
                    <tr>
                        <td>{{agenda.id}}</td>
                        <td>{{agenda.data_cadastro|date:"d/m/Y"}}</td>
                        <td>{{agenda.car.modelo}}</td>
                        <td>{{agenda.total}}</td>
                        <td>{{agenda.get_estado_display}}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        <hr />
        <div class="col-md-4 offset-md-6">
            <h3 class="float-right"><b>TOTAL: R$ {{aberto}}</b></h3>
        </div>
        <br />
        <input type="hidden" name="cliente_id" value="{{cliente_obj.id}}">
        <input type="hidden" name="mes_cli" value="{{mes_cli}}">
        <label for="inputName">Pagamento<strong>*</strong></label><hr />
        <button type="submit" class="btn btn-secondary" formaction="/lavajato_cliente/pagamento_geral" formmethod="POST">Receber</button>&nbsp;
    </form>
{% endblock %}
