{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
    {% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
    {%endif%}
    <h1>Editar Veiculo</h1>
    <hr />
    <form method="POST" action="/lavajato_cliente/carro_salva_edita">
        {% csrf_token %}
        <input type="hidden" name="cliente_id" value="{{cliente_obj.id}}" />
        <div class="form-row">
            <div class="form-group col-md-9">
                <label for="inputName">Cliente </label>
                <input type="text" class="form-control" id="inputEmail4" value="{{cliente_obj.nome}}" disabled>
            </div>
        </div>
        <hr />
        <div class="form-row">
        <input type="hidden" name="carro_id" value="{{carro_obj.id}}" />
            <div class="form-group col-md-8">
                <label for="inputEmail">Modelo</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="200" value="{{carro_obj.modelo}}" name="modelo">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Placa</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="200" value="{{carro_obj.placa}}" name="placa">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Cor</label>
                <input type="text" class="form-control" id="inputAddress2" maxlength="200" value="{{carro_obj.cor}}" name="cor">
            </div>
            <div class="form-group col-md-4">
                <label for="inputEmail">Observacao</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="observacao" maxlength="300" rows="3">{{carro_obj.observacao}}</textarea>
            </div>
        </div>
        <br />
        <button type="submit" class="btn btn-secondary float-right">Salvar</button>

    </form>
{% endblock %}