{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
<h1>Editar Fornecedor</h1><hr /><br />
    <form method="POST">
    {%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-12">
            <select name="fornecedor_id" class="form-control" required>
                <option disabled selected > -- Fornecedores -- </option>
                {% for fornecedor in fornecedores %}
                    <option value={{fornecedor.id}}>{{fornecedor.nome}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-secondary float-right">Editar</button>
        </div>
    </div>
    </form>
{% endblock %}