{% extends 'chica_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h1>Adicionar servico</h1><hr />
    <form method="POST">
    {%csrf_token%}
        <input type="hidden" name="agenda_id" value="{{agenda_obj.id}}"/>
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="inputName">Cliente<strong>*</strong></label>
                <input type="text" class="form-control" value="{{agenda_obj.cli.nome}}" disabled>
            </div>
            <div class="form-group col-md-10">
                <label for="inputName">Servico<strong>*</strong></label>
                <select autofocus name="servico_id" class="form-control" required>
                    <option disabled selected> -- Servico -- </option>
                    {% for servico in servicos %}
                    <option value={{servico.id}}>{{servico.nome}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-10">
                    <label for="inputName">Funcionario<strong>*</strong></label>
                    <select autofocus name="funcionario_id" class="form-control" required>
                        <option disabled selected> -- Funcionario -- </option>
                        {% for funcionario in funcionarios %}
                            <option value={{funcionario.id}}>{{funcionario.nome}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br />
                <div class="form-group col-md-10">
                    <button type="submit" class="btn btn-secondary float-right" formaction="/chica_agenda/add_servico">Adicionar</button>
                </div>
            <hr />
                <table class="table table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Servico</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Funcionario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_servico in it_servicos %}
                        <tr>
                            <td>{{item_servico.id}}</td>
                            <td>{{item_servico.data_cadastro|date:"H:i"}}</td>
                            <td>{{item_servico.serv.nome}}</td>
                            <td>{{item_servico.serv.valor}}</td>
                            <td>{{item_servico.func.nome}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <label class="float-right">Total: R${{agenda_obj.total}}</label>
            </div>
        </div>
    </form>
{% endblock %}