{% extends 'chica_base.html' %}

{% block body %}
{% load static %}
<h1>Selecione o agendamento</h1><hr /><br />
    <form method="POST">
    {%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-12">
            <select name="agenda_id" class="form-control" required>
                <option disabled selected > -- Data -- Cliente -- </option>
                {% for agenda in agendas %}
                    <option value={{agenda.id}}>{{agenda.data|date:"d/m/Y - H:i"}} -- {{agenda.cli.nome}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-secondary float-right">Buscar</button>
        </div>
    </div>
    </form>
{% endblock %}