{% extends 'chica_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h1>Confirmacao</h1><hr />
                    <form method="GET">
                        <input type="hidden" name="agenda_id" value="{{agenda_obj.id}}" />
                        <div class="form-row">
                            <div class="form-group col-md-10">
                                <label for="inputName">Cliente<strong>*</strong></label>
                                <input type="text" class="form-control" value="{{agenda_obj.cli.nome}}" disabled>
                            </div>
                            <div class="form-group col-md-10">
                                <label for="inputName">Servico<strong>*</strong></label>
                                <input type="text" class="form-control" value="{{agenda_obj.serv.nome}}" disabled>
                            </div>
                            <div class="form-group col-md-10">
                                <label for="inputName">Funcionario<strong>*</strong></label>
                                <input type="text" class="form-control" value="{{agenda_obj.func.nome}}" disabled>
                            </div>
                            <div class="form-group col-md-2">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputTel">Data</label>
                                <input type="text" class="form-control" value="{{agenda_obj.data|date:"d/m/Y"}}" disabled>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputTel">Hora</label>
                                <input type="text" class="form-control" value="{{agenda_obj.data|date:"H:m"}}" disabled>
                            </div>
                            <div class="form-group col-md-2">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputTel">Total</label>
                                <input type="text" class="form-control" value="R${{agenda_obj.serv.valor}}" style="background-color:#2d2c2c; color:aliceblue;" disabled>
                            </div>
                        </div>
                        <br />
                        <label for="inputName">Pagamento<strong>*</strong></label><hr />
                        <button type="submit" class="btn btn-secondary " formaction="/chica_agenda/dinheiro">Dinheiro</button>&nbsp;
                        <button type="submit" class="btn btn-secondary " formaction="/chica_agenda/credito">Cartao Credito</button>&nbsp;
                        <button type="submit" class="btn btn-secondary " formaction="/chica_agenda/debito">Cartao Debito</button>&nbsp;
                    </form>
{% endblock %}