{% extends 'chica_base.html' %}

{% block body %}
{% load static %}
{% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
{%endif%}
<h1>Troco</h1><hr />
    <form action="/chica_home/">
    {%csrf_token%}
        <input type="hidden" name="agenda_id" value="{{agenda_obj.id}}" />
        <div class="form-row justify-content-md-center">
            <div class="form-group col-md-3">
                <label for="inputName">Total<strong>*</strong></label>
                <input type="text" class="form-control" value="R${{agenda_obj.serv.valor}}" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="inputName">Recebido<strong>*</strong></label>
                <input type="text" class="form-control" value="{{recebido}}" disabled>
            </div>
            <div class="form-group col-md-3">
                <label for="inputName">Troco<strong>*</strong></label>
                <input type="text" class="form-control" value="R${{troco}}" disabled>
            </div>
            <div class="form-group col-md-2">
            </div>
            <div class="form-group col-md-3">
                <label for="inputTel">Data</label>
                <input type="datetime-local" class="form-control" name="data">
            </div>
        </div>
            <br />
            <button type="submit" class="btn btn-secondary float-right">Finalizar</button>
    </form>
{% endblock %}