{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
<h1>Controle</h1><hr /><br />
<ul class="navbar-nav " >          
    <li class="nav-item ">
        <div class="dropdown show">
            <a class="nav-link sansserif dropdown-toggle" href="#" style="color: rgba(0,0,0,0.8);" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Funcionario
            </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
            <a class="dropdown-item sansserif1" href="/lavajato_controle/novo_funcionario">Novo Funcionario</a>
            <a class="dropdown-item sansserif1" href="/lavajato_controle/busca_funcionario">Buscar Funcionario</a>
            <a class="dropdown-item sansserif1" href="/lavajato_controle/edita_funcionario">Editar Funcionario</a>
        </div>
        </div>
    </li>
    <li class="nav-item ">
        <div class="dropdown show">
            <a class="nav-link sansserif dropdown-toggle" href="#" style="color: rgba(0,0,0,0.8);" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Servico
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                <a class="dropdown-item sansserif1" href="/lavajato_controle/novo_servico">Novo Servico</a>
                <a class="dropdown-item sansserif1" href="/lavajato_controle/busca_servico">Buscar Servico</a>
                <a class="dropdown-item sansserif1" href="/lavajato_controle/edita_servico">Editar Servico</a>
            </div>
        </div>
    </li>
    <li class="nav-item ">
            <div class="dropdown show">
                <a class="nav-link sansserif dropdown-toggle" href="#" style="color: rgba(0,0,0,0.8);" role="button" id="dropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Agendamentos
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink3">
                    <a class="dropdown-item sansserif1" href="/lavajato_controle/busca_agendamento">Buscar agendamento</a>
                    <a class="dropdown-item sansserif1" href="/lavajato_controle/info_agendamento">Informacao dos agendamentos</a>
                </div>
            </div>
        </li>
    <li class="nav-item ">
            <div class="dropdown show">
                <a class="nav-link sansserif dropdown-toggle" href="#" style="color: rgba(0,0,0,0.8);" role="button" id="dropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Conta Empresa
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
                    <a class="dropdown-item sansserif1" href="/lavajato_controle/conta_entrada">Entrada na Conta</a>
                    <a class="dropdown-item sansserif1" href="/lavajato_controle/conta_retirada">Retirada na Conta</a>
                    <a class="dropdown-item sansserif1" href="/lavajato_controle/extrato">Extrato da Conta</a>
                </div>
            </div>
        </li>
    <li class="nav-item ">
            <div class="dropdown show">
                <a class="nav-link sansserif dropdown-toggle" href="#" style="color: rgba(0,0,0,0.8);" role="button" id="dropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Taxas e Prazos
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
                    <a class="dropdown-item sansserif1" href="/lavajato_controle/taxa_debito">Alterar Debito</a>
                    <a class="dropdown-item sansserif1" href="/lavajato_controle/taxa_credito_vista">Alterar Credito a Vista</a>
                    <a class="dropdown-item sansserif1" href="/lavajato_controle/taxa_credito_prazo">Alterar Credito a Prazo</a>
                    <a class="dropdown-item sansserif1" href="/lavajato_controle/taxa_elo">Alterar ELO</a>
                    <a class="dropdown-item sansserif1" href="/lavajato_controle/taxa_boleto">Alterar Prazo Boleto</a>
                </div>
            </div>
        </li>
    <li class="nav-item ">
            <div class="dropdown show">
                <a class="nav-link sansserif dropdown-toggle" href="#" style="color: rgba(0,0,0,0.8);" role="button" id="dropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Alterar senha
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink5">
                    <a class="dropdown-item sansserif1" href="/lavajato_controle/nova_senha">Nova senha</a>
                </div>
            </div>
        </li>

        <li class="nav-item ">
                <div class="dropdown show">
                    <a class="nav-link sansserif dropdown-toggle" href="#" style="color: rgba(0,0,0,0.8);" role="button" id="dropdownMenuLink5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    TESTE
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink5">
                        <a class="dropdown-item sansserif1" href="/lavajato_controle/teste">Teste</a>
                    </div>
                </div>
            </li>
 </ul>
{% endblock %}
