{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
    {% if msg %}
        <h1 style="text-align:center;">{{msg}}</h1><hr />
    {%endif%}
    <h1>Editar Funcionario</h1><hr /><br />
    <form method="POST" action="/chica_controle/edita_funcionario">
    {%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-12">
            <select name="funcionario_id" class="form-control" required title="Selecione o funcionario">
                <option disabled selected> -- Funcionario -- </option>
                {% for funcionario in funcionarios %}
                <option value={{funcionario.id}}>{{funcionario.nome}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-secondary float-right" title="Editar funcionario">Editar</button>
        </div>
    </div>
    </form>
{% endblock %}