{% extends 'chica_base.html' %}

{% block body %}
{% load static %}
<h1>Editar Funcionario</h1>
    <hr />
        <form method="post">
        {% csrf_token %}
            <input type="hidden" name="funcionario_id" value="{{funcionario_obj.id}}" />
            <div class="form-row">
                <div class="form-group col-md-9">
                    <label for="inputName">Nome Completo </label>
                    <input type="text" class="form-control" value="{{funcionario_obj.nome}}" name="nome" title="Digite o nome completo">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputTel">Data de Nasc.</label>
                    <input type="date" class="form-control" value="{{funcionario_obj.data_nasc|date:"Y-m-d"}}" name="data_nasc" title="Selecione a data de nascimento">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputTel">Telefone</label>
                    <input type="text" class="form-control" value="{{funcionario_obj.telefone}}" name="tel" title="Digite o telefone">
                </div>
                <div class="form-group col-md-3">
                    <label for="inputCel">Celular</label>
                    <input type="text" class="form-control" value="{{funcionario_obj.celular}}" name="cel" title="Digite o celular">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail">E-mail</label>
                    <input type="text" class="form-control" value="{{funcionario_obj.email}}" name="mail" title="Digite o e-mail">
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-secondary float-right" formaction="/chica_controle/salva_funcionario" title="Salvar alteracao do registro do funcionario">Salvar</button>
        </form>
{% endblock %}