{% extends 'chica_base.html' %}

{% block body %}
{% load static %}
<h1>Busca Servico</h1><hr /><br />
    <form method="POST">
    {%csrf_token%}
    <div class="form-row">
        <div class="form-group col-md-12">
            <select name="servico_id" class="form-control" required title="Selecione o servico">
                <option disabled selected> -- Servico -- </option>
                {% for servico in servicos %}
                <option value={{servico.id}}>{{servico.nome}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-secondary float-right" title="Visualizar servico">Visualizar</button>
        </div>
    </div>
    </form>
{% endblock %}