{% extends 'lavajato_base.html' %}

{% block body %}
{% load static %}
    {% if msg %}
    <h1 style="text-align:center;">{{msg}}</h1><hr />
    {%endif%}
    <h1>Alterar Taxa de Cartao de Debito</h1>
    <hr />
        <form method="post">
        {% csrf_token %}
        <input type="hidden" name="taxa_id" value="{{taxas.id}}">
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label for="inputName">Dias para recebimento atual</label>
                    <input type="text" class="form-control" value="{{taxas.dias}}" title="Dias para o recebimento" disabled>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputName">Novo dias para recebimento</label>
                    <input type="number" class="form-control" id="inputEmail4" name="dias" maxlength="2" required autofocus title="Digite o numero de dias">
                </div>
                <div class="form-group col-md-1">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputTel"><br></label>
                    <label for="inputTel">Atual taxa de juros %</label>
                    <input type="text" class="form-control" value="{{taxas.juros}}" title="Taxa de juros atual" disabled>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputTel"><br></label>
                    <label for="inputTel">Taxa de juros %</label>
                    <input type="number" step="0.01" class="form-control" id="inputPassword4" name="juros"  title="Digite a taxa de juros">
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-secondary float-right" title="Salvar alteração nas taxas e prazos">Salvar</button>
        </form>
{% endblock %}