{% extends 'top_base.html' %}

{% block body %}
{% load static %}
<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 main-fundo">
    <section class="row text-center placeholders">
        <div class="jumbotron busca">
            <div class="container">
                <h1>Suporte</h1>
                <hr />
                <p class="sansserif">Igor Macedo Peres <br />+55 67 9 91865754<br />igor-peres@hotmail.com</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}
