{% extends 'chica_base.html' %}

{% block body %}
{% load static %}
<h1>Controle</h1><hr /><br />
<ul class="navbar-nav " >          
    <li class="nav-item ">
        <div class="dropdown show">
            <a class="nav-link sansserif dropdown-toggle" href="#" style="color: rgba(0,0,0,0.8);" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Funcionario
            </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
            <a class="dropdown-item sansserif1" href="/chica_controle/novo_funcionario">Novo Funcionario</a>
            <a class="dropdown-item sansserif1" href="/chica_controle/busca_funcionario">Buscar Funcionario</a>
            <a class="dropdown-item sansserif1" href="/chica_controle/edita_funcionario">Editar Funcionario</a>
        </div>
        </div>
    </li>
    <li class="nav-item ">
        <div class="dropdown show">
            <a class="nav-link sansserif dropdown-toggle" href="#" style="color: rgba(0,0,0,0.8);" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Servico
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                <a class="dropdown-item sansserif1" href="/chica_controle">Novo Servico</a>
                <a class="dropdown-item sansserif1" href="/chica_controle/busca">Buscar Servico</a>
                <a class="dropdown-item sansserif1" href="/chica_controle/edita">Editar Servico</a>
            </div>
        </div>
    </li>
 </ul>
{% endblock %}
