{% extends 'chica_base.html' %}

{% block body %}
{% load static %}
<h1>Controle</h1><hr /><br />
<div class="dropdown show">
    <a class="nav-link sansserif dropdown-toggle" href="#" style="color: rgba(0,0,0,0.8);" role="button" id="dropdownMenuLink4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Estoque
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink4">
        <a class="dropdown-item sansserif1" href="/chica_estoque/entrada">Entrada</a>
        <a class="dropdown-item sansserif1" href="/chica_estoque/saida">Saida</a>
        <a class="dropdown-item sansserif1" href="/chica_estoque/consulta">Consultar estoque</a>
        <a class="dropdown-item sansserif1" href="/chica_estoque/inventario">Conferir inventario</a>
        <a class="dropdown-item sansserif1" href="/chica_estoque/novo_produto">Cadastro de produto</a>
    </div>
</div>
{% endblock %}
